# fastlane specific
**/fastlane/report.xml

# deliver temporary files
**/fastlane/Preview.html

# snapshot generated screenshots
**/fastlane/screenshots

**/fastlane/FastlaneRunner

# scan temporary files
**/fastlane/test_output

**/.DS_Store

**/*.pkg
**/*.app
**/*.dSYM.zip
Gemfile
Gemfile.lock